/*-----------Theme by Rishikesh   http://drupal.org/user/198692--------------------------*/
/*--------------------rishikesh579@gmail.com-------------------------------------------*/

/* --------------------------------  page styles -------------------------------------*/
body { 
background:#000000 url(images//bodybg.gif) center repeat-y;
padding:0; 
margin:0; 
font:12px Verdana, sans-serif; 
line-height:18px; 
color:#000000;
}
#wrapper { 
background:#ffffff;
margin:0px auto; 
width:898px;  
padding:0; 
}
#topwrapper { 
background:#bd0000 none repeat scroll 0%;
height:12px;
margin:0pt auto;
width:946px;
}
#bottomwrapper { 
background:#bd0000 none repeat scroll 0%;
height:12px;
margin:0pt auto;
width:946px;
}
/* -------------------------------  general styles  -------------------------------*/
a { 
color:#CC0000; 
text-decoration: 
underline;background:none; 
}
a:hover { 
color:#000000; 
background:none; 
text-decoration:underline; 
}
p { 
margin:0;
padding-top:2px;
}
h2 { 
font-weight:bold; 
font-size:14px; 
line-height:22px; 
padding:3px 0px 3px 15px; 
margin: 0 0 2px 0; 
color:#FFFFFF; 
background:#000000; 
border: 2px dotted #CC0000; 
}
ul { 
margin: 0; 
padding : 0; 
list-style : none; 
}
img { border: 0;
}
/*----------------------------------- navigation -----------------------------*/
#navpanel{
height:30px; 
background:#000000;
border:2px dotted #CC0000;
margin:10px;
}
#primary {
line-height:30px;
}
#primary a {
display:block; 
float:left; 
font-size:95%; 
font-weight:bold; 
margin:0px 1px 0px 0px; 
padding:0px 14px;
text-decoration:none;
}
#primary a:hover, #primary a.active {
background:#cc0000 none repeat scroll 0%;
color:white;
height:30px;
text-decoration:none;
cursor:pointer;
}
#primary ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:0pt;
}
#primary li {
display:inline;
}
#title p {
font-size: 0.9em; 
color: #808080; 
padding: 0; 
background: inherit;
}
#secondary {
float:right; 
margin:2px 0 0 0; 
padding:0; 
text-align:right;
}
#secondary li { 
display:inline; 
}
#secondary li a {  
color:#444; 
text-decoration:none; 
padding:1px 10px 1px 10px;
height:19px; background:none;
}
#secondary li a:hover { 
background: none;
color:#631e19;
} 
/* -----------------------------  header ---------------------------------------*/
#header { 
clear:both; 
height:100px; 
background: url(images/header.jpg) no-repeat; 
border:2px dotted #cc0000; 
width:874px; 
height:250px;
margin:0px 10px 10px 10px; 
}
#header img {
float: left;
margin: 30px 0px 0px 40px;
}
#title {
float:left; 
width:250px; 
padding:20px;
}
h1#home {
color:#000000;
font-size:18px;
margin-top:50px;
}
/* ------------------------------- Main content ------------------------------------*/
#containermiddle {
float:left;
width:898px;
}
#maincontainer {
margin-top:-5px; 
}
#main {
float: left;
width: 438px; 
padding:10px; 
background:#FFFFFF;
}
#mission {
background:#999999;
display:block;
padding:10px;
border:2px dotted #CC0000;
margin-bottom:10px;
}
.node {
margin-bottom: 20px;
}
.content {
margin-bottom: 10px;
}
.message { 
position:absolute;  
width:360px; 
float:left; 
margin:70px 0px 0px 165px; 
color:#fff;
}
#sidebar-left {
float: left;
width: 200px;  
padding:10px;
}
#sidebar-right {
float: left;
width: 200px; 
padding:10px;
}
/*--------------------admin style over-ride for-----------------------------------------*/
div.admin .right {
display:block;
width:190px!important;
}
div.admin .left {
display:block;
width:200px!important;
}
/* -----------------menustyle navigation------------------------------------------------*/
*html ul.menu {
margin-top:18px;
}
*html ul.menu li {
margin-top:-18px;
}
ul.menu li a {
color:#CC0000;
background-color:#ffffff;
display:block;
text-decoration:none;
border-bottom:1px solid #000000;
padding:3px;
padding-bottom:4px;
}
ul.menu li a:hover {
background-color:#CC0000;
color:#000000;
display:block;
text-decoration:none;
cursor:pointer;
}
ul.menu li a.active {
background-color:#cc0000;
color:#ffffff;
display:block;
text-decoration:none;
}
/* -------------------------------------  title style ------------------------------ */
h1.title { 
font-weight:bold; 
font-size:14px; 
line-height:22px; 
padding:3px 0px 3px 15px; 
margin: 0 0 2px 0; 
color:#FFFFFF; 
background:#CC0000; 
border: 2px dotted #000000; 
}
#main h2{ 
font-weight:bold; 
font-size:14px; 
line-height:22px; 
padding:3px 0px 3px 15px; 
margin: 0 0 2px 0; 
color:#FFFFFF; 
background:#CC0000; 
border: 2px dotted #000000; 
}
#main h2 a{ 
text-decoration:none; 
color:#FFFFFF; 
background:#CC0000; 
}
#main h2 a:hover{ 
text-decoration:none; 
color:#000000; 
}
#main h3 { 
font-weight:bold; 
font-size:14px; 
line-height:22px;
padding:0px 0px 0px 15px;
margin: 0 0 2px 0;
color:#FFFFFF; 
background:#CC0000; 
border: 2px dotted #000000; 
}
#main h3 a{ 
text-decoration:none; 
color:#FFFFFF; 
background:#CC0000; 
}
#main h3 a:hover{ 
text-decoration:none; 
color:#000000; 
}
span.author {


}
/*---------------------------------- user submited style ------------------------------------*/
.picture{
display:block;
float:left;
margin-right:10px;
}
.post-date {
width: 45px;
float:left;
margin: 8px 10px 0px 0px;
border:2px solid #000000;
}
.post-year {
background:#000000;
font-size: 12px;
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
display:block;
line-height: 1.1em;
padding: 3px;
}
.post-month {
background:#FFFFFF;
font-size: 12px;
text-transform: uppercase;
color: #000000;
text-align: center;
display:block;
line-height: 1.1em;
padding: 3px;
}
.post-day {
color: #000000;
background:#CC0000;
text-transform: uppercase;
text-align: center;
display:block;
line-height: 0.7em;
padding: 5px;
}
/* ----------------------------------- footer ---------------------------------------*/
#footer { 
clear: both; 
text-align:center; 
line-height: 1.8em; 
color: #000000; 
background:#999999 none repeat scroll 0%;
border:2px dotted #CC0000;
display:block;
margin-bottom:10px;
padding:10px;
}
#footer a {
color: #CC0000; 
background: inherit;
}



